@import url(/assets/stylesheets/reset.css);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #FFF;
  font-size: 16px;
  background: #000;
}

/* headings */
h1,
h2 {
  font-weight: normal;
  float: left;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 0.9em;
  margin-left: 15px;
  color: #88D3E7;
  margin-top: 12px;
  font-weight: bold;
}

/* links */
a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9em;
}

a:hover {
  text-decoration: underline;
}

a:active,
a:focus {
  position: relative;
  top: 1px;
}

/* helpers */
.hide {
  display: none;
}

/* layout */
#main-header header {
  float: left;
  padding: 20px 20px;
}

#main-header .main-menu li {
  border-left-width: 1px;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666), to(rgba(0, 0, 0, 100))) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(rgba(0, 0, 0, 100), #666) 1 100%;
  -o-border-image: -o-linear-gradient(#666, rgba(0, 0, 0, 100)) 1 100%;
  -moz-border-image: -moz-linear-gradient(#666, rgba(0, 0, 0, 100)) 1 100%;
}

#main-header .main-menu li.primary {
  float: left;
  border-right-width: 1px;
}

#main-header .main-menu li.secondary {
  float: right;
}

#main-header .main-menu li a {
  padding: 33px 25px;
  float: left;
}

/* Index styles ************************************************************/
#main-content {
  position: absolute;
  top: 80px;
  bottom: 4px;
  width: 100%;
}

#main-content iframe {
  width: 100%;
  height: 100%;
}

/* Modals *******************************************************************/
.modal {
  position: absolute;
  display: none;
  z-index: 9999;
  padding: 30px;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-left: -200px; /* - (width + padding) / 2 */
  margin-top: -220px; /* - (height + padding) / 2 */
  background: #000;
}

.modal a.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1em;
  padding: 5px;
  color: #CCC;
}

.modal a.close-modal:hover {
  text-decoration: none;
}

.modal p {
  margin-top: 20px;
  font-size: 0.9em;
  line-height: 1.4em;
}

.modal p.main-explanation {
  font-size: 1em;
}

.modal h3 {
  margin-top: 20px;
  font-size: 0.8em;
}

.modal ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 20px;
}

.modal li {
  font-size: 0.9em;
  line-height: 1.4em;
}

.modal a {
  color: #FFC72D;
}

/* Media Queries *************************************************************************************************************************/
@media screen and (max-width: 800px) {
  #main-header .main-menu li a {
    padding: 20px 12px;
  }
  #main-header header {
    padding: 9px 20px;
  }
  #main-content {
    top: 54px;
  }
}

@media screen and (max-width: 700px) {
  #main-header header {
    overflow: auto;
    float: none;
    text-align: center;
  }

  #main-header header h1,
  #main-header header h2 {
    float: none;
    margin: 0;
  }

  #main-header .main-menu li.primary,
  #main-header .main-menu li.secondary {
    float: none;
    margin-top: 15px;
    text-align: center;
    border: 0;
  }
  #main-header .main-menu li a {
    float: none;
    padding: 0;
  }

  #main-content {
    /* top: 220px; */
    position: relative;
    top: inherit;
    bottom: inherit;
    margin-top: 20px;
  }

  .modal {
    position: relative;
    margin: 0;
    top: inherit;
    left: inherit;
    margin-top: 20px;
    width: inherit;
  }
}
