@import url(/assets/stylesheets/reset.css);
@import url(/assets/stylesheets/bootstrap.min.css);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #FFF;
  background: #000;
}

/* headings */
h1,
h2 {
  font-weight: normal;
  float: left;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 0.9em;
  margin-left: 15px;
  color: #93EBFD;
  margin-top: 8px;
  font-weight: bold;
  cursor: pointer;
}

/* links */
a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9em;
}

a:hover {
  text-decoration: underline;
}

a:active,
a:focus {
  position: relative;
  top: 1px;
}

/* Boostrap tooltips *************************************************/
.tooltip-inner {
  background: #444;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #444;
}

/* helpers ************************************************************/
.hide {
  display: none;
}

/* layout */
#main-header header {
  float: left;
  padding: 20px 20px;
}

#main-header .main-menu li {
  border-left-width: 1px;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666), to(rgba(0, 0, 0, 100))) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(rgba(0, 0, 0, 100), #666) 1 100%;
  -o-border-image: -o-linear-gradient(#666, rgba(0, 0, 0, 100)) 1 100%;
  -moz-border-image: -moz-linear-gradient(#666, rgba(0, 0, 0, 100)) 1 100%;
}

#main-header .main-menu li.primary {
  float: left;
  border-right-width: 1px;
}

#main-header .main-menu li.secondary {
  float: right;
}

#main-header .main-menu li a {
  padding: 33px 25px;
  float: left;
}

/* Icons *******************************************************************/
.icon {
  display: inline-block;
  width: 20px;
  height: 16px;
  background-image: url(/assets/images/icons.png);
  background-repeat: no-repeat;
}

.icon.dropdown {
  background-position: 0 9px;
  margin-left: 4px;
}

/* Index styles ************************************************************/
#main-content {
  position: absolute;
  top: 80px;
  bottom: 4px;
  width: 100%;
}

#main-content iframe {
  width: 100%;
  height: 100%;
}

a#toggle-nav {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 10px;
  right: 25px;
  display: none;

  -moz-box-shadow:inset 0px 1px 0px 0px #5c5c5c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #5c5c5c;
  box-shadow:inset 0px 1px 0px 0px #5c5c5c;
  background-color: #0F0F0F;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #1F1F1F;
}

a#toggle-nav:hover,
a#toggle-nav.active {
  background-color: #222;
}

#toggle-nav .small-line {
  height: 3px;
  margin: 4px 10%;
  background: #FFF;
  width: 80%;
  display: block;
}

#toggle-nav .small-line:first-child {
  margin-top: 11px;
}

/* Modals *******************************************************************/
.modal {
  position: absolute;
  display: none;
  z-index: 9999;
  padding: 30px;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-left: -200px; /* - (width + padding) / 2 */
  margin-top: -180px; /* - (height + padding) / 2 */
  background: #000;
}

.modal a.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1em;
  padding: 5px;
  color: #CCC;
}

.modal a.close-modal:hover {
  text-decoration: none;
}

.modal p {
  margin-top: 7px;
  font-size: 0.9em;
  line-height: 1.4em;
}

.modal p.main-explanation {
  font-size: 1em;
}

.modal h3 {
  margin-top: 20px;
  font-size: 1em;
}

.modal ul {
  list-style-type: disc;
  margin-left: 7px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.modal li {
  font-size: 0.9em;
  line-height: 1.4em;
}

.modal a {
  color: #FFC72D;
}

/* Media Queries *************************************************************************************************************************/
@media screen and (max-width: 800px) {
  #main-header .main-menu li a {
    padding: 20px 12px;
  }
  #main-header header {
    padding: 9px 20px;
  }
  #main-content {
    top: 54px;
  }
}

@media screen and (max-width: 700px) {
  #main-header header {
    overflow: auto;
    float: none;
    text-align: center;
  }

  #main-header .main-menu li.primary,
  #main-header .main-menu li.secondary {
    float: none;
    margin: 15px 25px;
    border: 0;
  }
  #main-header .main-menu li a {
    float: none;
    padding: 0;
  }

  #main-content {
    top: 60px;
  }

  .modal {
    width: inherit;
  }

  a#toggle-nav {
    display: inline-block;
  }

  nav {
    display: none;
    position: absolute;
    z-index: 2000;
    top: 60px;
    width: 100%;
    background: #000;
    padding-bottom: 10px;
  }

  nav.active {
    display: block;
  }

  .tooltip.fade.bottom.in * {
    display: none;
  }
}
